  <%= form_with model: @task do |form| %>
  <%= render 'layouts/error_messages', model: @task %>
  <%= form.text_field :title %>
  <%= form.text_field :content %>
  <%= form.submit %>
  <% end %>

<div style="padding: 15px;"></div>

<%# form_withでフォームを作成 %>

<table class = "table">

<tr>
  <th align="left">タイトル</th>
  <th align="left">内容</th>
</tr>

<%# テーブルを追加 %>

<% @tasks.each do |todo| %>
  <tr>   
    <td align="left"><%= todo.title %></td> 
    <td align="left"><%= todo.content %></td>
    <td><%= link_to '詳細', task_path(todo.id), method: :get %></td>
    <td><%= link_to '編集', edit_task_path(todo.id) %></td>
    <td><%= link_to '削除', task_path(todo.id), method: :delete, data: {confirm: '削除しますか？'}%></td>
  </tr>
  <% end %>

<%# eachメソッドで処理を繰り返す %>
<%# link_toメソッドでリンクを生成 %>



</table>





