<h1>Tasks#index</h1>
<%= form_with model: @task do |form| %>
  <%= form.text_field :title %>
  <%= form.text_field :content %>
  <%= form.submit %>
<% end %>


<%# テーブルを追加 %>
<table class="table">
<tr>
  <th>ID</th><th>タイトル</th><th>内容</th>
</tr>


<tr>   
  <% @tasks.each do |todo| %>
  <td><%= todo.id %></td>
  <td><%= todo.title %></td> 
  <td><%= todo.content %></td>
  <td><%= link_to '削除', task_path(todo.id), method: :delete %></td>
  <% end %>
</table>

<%# <script>
function delData(num){
  if (confirm('このデータを削除しますか？')){
    document.location = "/tasks/delete/" + num;
  }
  return false;
}
</script> %>






