  <h2><%= @task.title %></h2>
  <p><%= @task.content %></p>

<%# タイトルと内容の詳細を表示 %>

  <td><%= link_to '編集', edit_task_path(params[:id]) %></td>
  <td><%= link_to '削除', task_path(params[:id]), method: :delete %></td>
  <td><%= link_to :back do %></td>
  <button>戻る</button>

  <%# link_toメソッドでリンクを生成 %>

<% end %>

